h1{
    color: rgb(255, 21, 0);
    text-shadow:10px 10px 10px rgb(0, 0, 0);
    font: 3em;
    text-indent:300px;
    letter-spacing:10px;
    line-height:30px; 
    
}
p{
    line-height: 30px;
    word-spacing: 30px;

}
span{
    white-space: nowrap;
}
h2{
    text-decoration-line:underline;
    text-decoration: rgb(18, 66, 66);
}